.header
    background: url("../images/banner.jpg") no-repeat
    background-size: cover
    height: 900px
    .header-wrapper
        height: 900px
        background-color: rgba(46, 47, 56, 0.75)
        display: flex
        align-items: center
        flex-direction: column
        .header-top
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between
            padding-top: 4rem
            font-size: 1.3rem
            .header-top-brand
                margin-left: 3.5rem
                text-decoration: none
                color: white
                span
                    font-weight: bold
            .header-top-menu
                // color: white
                margin-right: 2rem
                a
                    margin: 0 2rem
                    text-decoration: none
                    &:visited
                        color: #d1d1d1
    .header-bottom
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: inherit
        .header-h1
            font-size: 4rem
            color: white
            margin: 0
        .header-text
            width: 60%
            font-size: 1.7rem
            text-align: center
            color: #8d8d8d
            line-height: 2.5rem
        .header-button
            color: white
            font-size: 1.3rem
            background-color: #ff2b59
            padding: 1.5rem 4rem
            border-radius: 5px
            font-weight: bold
            margin-top: 2rem
            text-decoration: none
            margin-bottom: 6rem
@media screen and ( max-width: 850px )
    .header
        .header-wrapper
            .header-top
                flex-direction: column
                .header-top-brand
                    margin: 0
                    margin-bottom: 1.5rem
@media screen and ( max-width: 768px )
    .header
        .header-top
            .header-top-menu
                margin: 0
        .header-bottom 
            .header-text
                font-size: 1.3rem
                width: 92%
@media screen and ( max-width: 520px )
    .header 
        .header-wrapper 
            .header-top 
                .header-top-menu
                    margin: 0
                    display: flex

    
    